.cv-container{
    display: flex;
    width: 800px;
    border: 1px solid red;
    flex-direction: row;
}

.right-side-container{
    border: 1px solid green;
    width: 35%;
    padding: 20px;
}

.left-side-container{
    border: 1px solid pink;
    width: 65%;
    padding: 20px;
}

.header-container{
    padding-bottom: 50px;
}

.line-width{
    width: 30px;
}

.line{
    border: none;
    height: 3px;
    background-color: #333;
}

.experience-container {
    display: flex;
    justify-content: space-between;
}

.bg-dark{
 background-color: rgb(43,49,61);
}

.bg-white{
    background-color: white;
}